<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Suite" parallel="tests" thread-count="2">

    <!-- ANDROID EXECUTION -->
    <test name="Android Tests">
        <parameter name="platform" value="android"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

    <!--    <test name="iOS Tests">
         <parameter name="platform" value="ios"/>
         <classes>
             <class name="runners.TestRunner"/>
         </classes>
     </test>
 -->

</suite>
